@model IEnumerable<MVC.Models.UsuariosVM.ListadoUsuarioViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
<hr />
<p>
    <a asp-action="Create" class="text-secondary">Crear Nuevo Usuario</a>
</p>

@if (ViewBag.Correo != null)
{
    <div class="alert alert-secondary fw-bold mb-4" style="font-size: 1.1rem;">
        <span>¡Bienvenido/a!</span><br />
        <span>Correo: <span class="fw-normal">@ViewBag.Correo</span></span><br />
        <span>Rol: <span class="fw-normal">@ViewBag.Rol</span></span>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm me-1">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm me-1">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="Home" class="text-secondary">Volver</a>
</div>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}
